@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

body,
#root,
#root {
  height: 100%;
  min-height: 100%;
}

html, body, #root {
  height: 100%;
}

body{
  margin: 0;
}

.dashboard-search .ant-input-search-button {
  background: black !important;
  border-color: black !important;
}

.dashboard-search .ant-input-search-button:hover {
  background: black !important;
  border-color: black !important;
}

